/* @define-color background rgba(0, 0, 0, 0.2);      */
@define-color background rgba(0, 0, 0, 0.8);
@define-color backgroundbutton rgba(40, 40, 40, 0.7);
@define-color backgroundtooltip rgba(40,40,40,1);
@define-color iconcolor #cba6f7;
@define-color iconhover #f5c2e7;
@define-color textcolor #ffffff;
@define-color warningcolor #f53c3c;
@define-color successcolor #a6e3a1;
@define-color yellow #FDFD96;
@define-color infocolor #89dceb;
@define-color bordercolor #585b70;
@define-color accentcolor #b4befe;

* {
    font-family: 'Adwaita Sans';
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 0;
}


window#waybar {
    background-color: @background;
    border-bottom: 0 solid #ffffff;
    transition-property: background-color;
    transition-duration: .2s;
    color: white;
}

.modules-left {
    padding-left: 0;
    margin-bottom: 8px;
}

.modules-center {
    margin-bottom: 4px;
}

.modules-right {
    padding-right: 0;
    margin-bottom: 8px;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
    background: @backgroundbutton;
    border-radius: 15px;
    border: 0;
    font-weight: bold;
    font-style: normal;
    opacity: 1;
    color: @textcolor;
}

#workspaces button {
    padding: 0 10;
    /* margin: 4px 3px; */
    border-radius: 15px;
    border: 0;
    color: @textcolor;
    background-color: @workspacesbackground2;
    transition: all 0.2s ease-in-out;
    opacity: 0.2;
}

#workspaces button.active {
    color: @textcolor;
    background: @workspacesbackground2;
    border-radius: 15px;
    /* min-width: 40; */
    transition: all 0.1s ease-in-out;
    opacity: 1.0;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 16px;
    background-color: @backgroundtooltip;
    /* opacity:0.9; */
    padding: 8px 15px;
    margin: 0 8px;
}

tooltip label {
    color: @textcolor;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    border-radius: 12px;
    color: @textcolor;
    background: @backgroundbutton;
    font-weight: normal;
    opacity: 1;
    padding: 8px 15px;
    margin: 0 8px;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-brave,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm,
#custom-cliphist,
#custom-wallpaper,
#custom-settings,
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-tools,
#custom-quicklink_chromium,
#custom-quicklink_edge,
#custom-quicklink_firefox,
#custom-quicklink_browser,
#custom-quicklink_filemanager,
#custom-quicklink_email,
#custom-quicklink_thunderbird,
#custom-quicklink_calculator,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
    margin-right: 14px;
    font-weight: bold;
    opacity: 1;
    color: @iconcolor;
}

#custom-quicklink_chromium,
#custom-quicklink_edge,
#custom-quicklink_firefox,
#custom-quicklink_browser,
#custom-quicklink_filemanager,
#custom-quicklink_email,
#custom-quicklink_thunderbird,
#custom-quicklink_calculator,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
    margin-right: 16px;
}

#custom-settings {
    margin-right: 12px;
}

#custom-tools {
    margin-right: 12px;
}

#custom-hypridle.active {
    color: @iconcolor;
}

#custom-hypridle.notactive {
    color: #dc2f2f;
}

#custom-ml4w-welcome {
    margin-right: 12px;
    background-image: url("../assets/ml4w-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 20;
    opacity: 1;
}

#custom-chatgpt {
    margin-right: 12px;
    background-image: url("../assets/openai.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-right: 16px;
    opacity: 1;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
    margin-right: 17px;
    font-size: 20;
    font-weight: bold;
    opacity: 1;
    color: @iconcolor;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 20;
    font-weight: bold;
    opacity: 1;
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    background-color: @backgroundbutton;
    font-size: 16px;
    color: @textcolor;
    border-radius: 15px;
    padding: 0 10 0 10;
    margin: 8px 16px 8px 0;
    opacity: 1;
    border: 3px solid @bordercolor;
}

/* -----------------------------------------------------
 * Custom Notification
 * ----------------------------------------------------- */

#custom-notification {
    margin: 0 13px 0 0;
    padding: 0;
    font-size: 20;
    color: #ffffff;
    opacity: 1;
    /* background-color: @backgroundbutton; */
    padding: 8px 15px;
    margin: 0 8px;
    border-radius: 15px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    font-size: 20;
    /* color: @iconcolor; */
    color: #ffffff;
    opacity: 1;
    /* background-color: @backgroundbutton; */
    padding: 8px 15px;
    margin: 0 8px;
    border-radius: 15px;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    background-color: @backgroundbutton;
    font-size: 16px;
    color: @textcolor;
    border-radius: 15px;
    padding: 2px 10 0 10;
    margin: 8px 15px 8px 0;
    opacity: 1;
}

#custom-updates.green {
    background-color: @backgroundbutton;
}

#custom-updates.yellow {
    background-color: #ff9a3c;
    color: #FFFFFF;
}

#custom-updates.red {
    background-color: #dc2f2f;
    color: #FFFFFF;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu,
#language {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: @iconcolor;
}

#language {
    margin-right: 10;
}

/* -----------------------------------------------------
 * Power Profiles Daemon
 * ----------------------------------------------------- */

#power-profiles-daemon {
    background-color: @backgroundbutton;
    color: @textcolor;
    border-radius: 15px;
    padding: 8px 15px;
    opacity: 1;
    margin: 0 12px;
}

#power-profiles-daemon.performance {
    background-color: @warningcolor;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    /* background-color: @backgroundbutton; */
    color: @textcolor;
    border-radius: 15px;
    padding: 8px 15px;
    opacity: 1;
    margin: 0 12px;
    /* border:3px solid @bordercolor; */
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
    background-color: @backgroundbutton;
    font-size: 16px;
    color: @textcolor;
    border-radius: 15px;
    padding: 2px 10 0 10;
    margin: 8px 15px 8px 0;
    opacity: 1;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    background-color: @backgroundbutton;
    font-size: 16px;
    color: @textcolor;
    border-radius: 15px;
    padding: 8px 15px;
    margin: 0 8px;
    opacity: 1;
}

#pulseaudio.muted {
    background-color: @backgroundbutton;
    color: @textcolor;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: @backgroundbutton;
    font-size: 16px;
    color: @textcolor;
    border-radius: 15px;
    padding: 8px 15px;
    margin: 0 8px;
    opacity: 1;
}

#network.ethernet {
    background-color: @backgroundbutton;
    color: @textcolor;
}

#network.wifi {
    background-color: @backgroundbutton;
    color: @textcolor;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
    background-color: @backgroundbutton;
    font-size: 16px;
    color: @textcolor;
    border-radius: 15px;
    padding: 8px 15px;
    margin: 0 8px;
    opacity: 1;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: @backgroundbutton;
    font-size: 16px;
    color: @textcolor;
    border-radius: 15px;
    padding: 8px 15px;
    margin: 0 8px;
    opacity: 1;
}

#battery.charging,
#battery.plugged {
    color: @successcolor;
    background-color: @backgroundbutton;
}

@keyframes blink {
    to {
        background-color: @backgroundbutton;
        color: @textcolor;
    }
}

#battery.low:not(.charging) {
    color: @warningcolor;
}

#battery.critical:not(.charging) {
    background-color: @warningcolor;
    color: @textcolor3;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    padding: 0 8px;
    margin: 0 4px;
    color: @textcolor3;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}

/**
* media
*/
#custom-media {
    background-color: @backgroundbutton;
    font-weight: 600;
    color: @textcolor;
    border-radius: 15px;
    padding: 8px 15px;
    margin: 0 8px;
    opacity: 1;
}
