@-moz-document url("about:home"), url("about:newtab") {
    .activity-stream {
      background-color: #0e0e0f !important;
    }
    #newtab-search-text {
        background-color: #0e0e0f !important;
        color: white !important;
        border: 1px solid rgba(0, 0, 0, 0.79) !important;
    }
    .search-wrapper:active input, .search-wrapper input:focus {
      border-color: white !important;
      box-shadow: 0 0 0 1px black !important;
    }
  
  }
  @-moz-document url("about:blank") {
    *:empty:not([id]):not([style]) {
      background-color: #0e0e0f !important;
    }
  }